<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate(previous_label: "Предыдущая", next_label: "Следущая") %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>